nav {
	a {
		color: #666;

		&:hover {
			color: black;
		}

		&.active {
			font-weight: 700;
		}
	}

	.navbar-brand {
		font-size: 1.5em;
		font-family: $font-family-typeface;
	}

	.navbar-text {
		font-family: $font-family-typeface;
		font-size: 1.25em;
		color: #666;
	}
}