<template>
	<div class="tinymce-component">
		<textarea :id="id" :name="name" class="form-control" v-model="val"></textarea>
	</div>
</template>

<script>
	export default {
		mounted() {
			this.formattedID = this.id;
			this.val = this.value;

			if (!this.formattedID) this.formattedID = this.randomID();

			tinymce.init({
				selector: `#${this.id}`,
				browser_spellcheck: true,
				contextmenu: false,
				plugins: 'lists link code'
			});
		},

		data() {
			return {
				formattedID: '',
				val: ''
			}
		},

		props: {
			id: {
				type: String,
				default: ''
			},

			name: {
				type: String,
				default: ''
			},

			value: {
				type: String,
				default: ''
			}
		},

		methods: {
			randomID() {
				let id = '';
				let chars = 'abcdefghijklmnopqrstuvwxyz';

				while(id.length < 16) {
					id += chars[Math.floor(Math.random() * chars.length)];
				}

				return id;
			}
		}
	}
</script>