html, body {
    color: $textColor;
    font-size: $fontSize;
    font-weight: 400;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: $textColor;
    font-family: $font-family-typeface;
    line-height: 1.5em;
}

h1 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.5em;
    font-weight: 200;
}

h4 {
    font-size: 1.25em;
    font-weight: 200;
}

p {
    line-height: 1.6em;
    margin: 0 auto 1em auto;
    color: $textColor;
    font-weight: 300;
    font-family: $font-family-sans-serif;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

li {
    line-height: 1.8em;
    font-weight: 300;
    font-size: $fontSize;
}

.print-hide {
    @media print {
        display: none;
    }
}

.print-display {
    display: none;

    @media print {
        display: block;
    }
}

.strong {
    font-weight: 700;
}

.text-caps {
    text-transform: uppercase;
}

[v-cloak] {
    display: none;
}

.p-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.main-container {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}

.brick-background {
    height: 100vh;
    width: 100vw;
    background-image: url('/img/brick_background_grey.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow-y: scroll;
}
