.contact-wrapper {
	.contact-form {
		input {
			border-radius: 0;
		}

		.btn-primary {
			background-color: #666;
			border-radius: 0;
			border: none;

			&:hover {
				background-color: darken(#666, 20%);
			}
		}
	}

	.facebook {
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}
}