.home-wrapper {
	.works {
		.plays {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			.play-box {
				max-width: 50%;

				@media screen and (max-width: 768px) {
					max-width: 100%;
				}

				.play-padding {
					padding: 1rem;
				}
			}
		}
	}
}